/* - Definiciones de contenidos por secciones - */
/* - Make Art -*/
#make-art-galeria{
	width:878px;
	height:250px;
	position:relative;
	background-color:#000;
}

#make-art-columnas{
	width:878px;
	height:273px;
	top:27px;
	position:relative;
}

a{
	color:#0099cc;
	text-decoration:none;
}

#iz{
	width:405px;
	height:273px;
	position:absolute;
	overflow:hidden;
}
#make-art-izquierda{
	width:405px;
	position:absolute;
}

#de{
	width:420px;
	height:273px;
	left:438px;
	position:absolute;
	overflow:hidden;
}
#make-art-derecha{
	width:420px;
	position:absolute;
}

/* -- Scroll -- */
#scrollbar_1 {
	display:block; /* initially display:none; to hide from incapable */
}
	
#scrollbar_1 { 
	position:absolute;
	width:7px; height:273px; 
	left:420px;
	font-size:1px;  /* so no gap or misplacement due to image vertical alignment */
}
  
.scrollbar_track{ 
	position:absolute; left:0; top:0px;
	width:7px; height:273px;
	background: #1a1919;
}

.scrollbar_dragBar{
	position:absolute; left:0px; top:0px;
	width:7px; height:20px;
	background-color:#0099cc;
}

/* for safari, to prevent selection problem  */
#scrollbar_1, .scrollbar_track{
	-moz-user-select: none;
	-khtml-user-select: none;
}

#scrollbar_1 img {
	display:block; 
}

/**/

#scrollbar_2 {
	display:block; /* initially display:none; to hide from incapable */
}
	
#scrollbar_2 { 
	position:absolute;
	width:7px; height:273px; 
	left:871px;
	font-size:1px;  /* so no gap or misplacement due to image vertical alignment */
}

/* for safari, to prevent selection problem  */
#scrollbar_2{
	-moz-user-select: none;
	-khtml-user-select: none;
}

#scrollbar_2 img {
	display:block; 
} 